body {
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

#projects .table tr > th {
  position: sticky;
  background-color: white;
  top: 0;
  vertical-align: middle;
  /*border-bottom: 1px dotted #333333;*/ }

#projects .table tr > td, #projects .table tr > th {
  text-align: left; }

td.fullcenter {
  text-align: center;
  vertical-align: middle; }

fieldset {
  border: 1px solid rgba(10, 10, 10, 0.1);
  border-radius: 6px;
  padding: 1.25rem;
  vertical-align: middle;
  margin-bottom: 1em;
  display: flex;
  align-content: center; }

fieldset legend {
  line-height: 0; }

.completed {
  background-color: grey; }

.needs-attention {
  background-color: lightyellow; }
